*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

li{
	list-style : none;
}

header{
	margin: .5em;
	font-weight: bold;
	font-size: 5em;
	text-align: center;

}

nav{
	margin-left: 25%;
}
	nav a{
		width: 20%;
		text-align: center;
		background: gray;
		padding: .5em;
		margin-right: 2%;
	}

footer{
	text-align: center;
}


.text{
	font-size: 1.5em;
	margin: 2em 10%;
	text-align: justify;
}
/**************************************
			FORMS
***************************************/
.form-style{
	background: lightgray;
	padding: 2em;
	margin: 2em 25%;
	border: 10px solid black;
	border-radius: 10px;
}

form{
	text-align: center;
}

	form input{
		margin-bottom: 1em;
	}

	form input[type="submit"]{
		border-radius: 10px;
	}

/**************************************
			INFO
***************************************/
.box{
	border: 2px solid black;
	margin:.5em;
}

.user{
	padding: 1em 2em;
}

.user img{
}

.user p{
	text-align: center;
}

.user article li{
	text-align: justify;
	padding: .5em 0;
}

.find input{
	margin: 1em 0 .5em 20%;
}

.find input[type="submit"]{
	margin-left: 60%;
	border-radius: 10px;
	font-weight: bold;
	font-size: 1.2em;
}


/**********************
MAPA
**********************/
.googleMap{
	height: 380px;
}

/***********************
	DJANGO CLASS
***********************/
.errorlist {
	font-weight: bold;
	font-size: 1.2em;
	color: #C52E32;
}