{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>mapFriends</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
</head>
<body>
    <header>
        MapFriends
    </header>
    <nav>
       <a href="/login/" class="pure-button pure-button-active">Login</a>
       <a href="/" class="pure-button pure-button-active">Inicio</a>
       <a href="/register/" class="pure-button pure-button-active">Registrar</a>
    </nav>
    {% block index %}
        
    {% endblock index %}
    <section class='pure-u-1-2'>
        {% block login %}
        
        {% endblock login %}
    </section>

    <footer>
        Aplicación creada para la asignatura de Programación Integrativa de la Universidad de A Coruña.
    </footer>
</body>
</html>