{% extends "base.html" %}

{% block Title %}
    MapFriends - Mapa
{% endblock Title %}

{% block map %}
<div class="pure-u-7-24">
    <div class="user box pure-g">               
        <img class="pure-u-1-3" height="70px" width="60px" src="{{user.picture}}" alt="perfil">
        <h1 class="pure-u-2-3">{{user.name}}</h1>
        <article class="pure-u-1">
            <ul class=' friends_list-js'>
                {% for friend in friends %}
                    <li id="{{friend.id}}">{{friend.name}}</li>
                {% endfor %}
            </ul>
        </article>
    </div>

    <div class="find box">
        <select class="select-js">
            <option value="Nacimiento">Nacimiento</option>
            <option value="Residencia">Residencia</option>
        </select>

        <button class="pure-button" onclick="addMark()">Buscar</button>
    </div>
</div>

<div class="pure-u-17-24">
    <div class="googleMap-js googleMap box">
</div>
<script type="text/javascript"> 
    {% autoescape off %}
        var locations = {{places}}
        var friends = {{friends}}
    {% endautoescape %}
</script>

</div>
{% endblock map %}