{% extends "base.html" %}

{% block Title %}
    mapFriends Registro
{% endblock Title %}

{% block login %}
    <form action="{% url 'register' %}" method="POST" class='form-style'>
        <h1>Registro</h1>
        {% csrf_token %}
        <span class="errorlist">{{ mensaje }}</span>
        <p><label for="">Password : </label>{{ register.password }}</p>
        <p><label for="">Password Repeat : </label>{{ register.password_confirm }}</p>
        <input type="submit" value="Registro">
    </form>
{% endblock login %}